<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/resetcss.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Honk&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.webp" />
    <title>Fortnite</title>
  </head>
  <body>
    <header>
      <div class="mobile-avatar">
        <img src="/images/avatar.avif" alt="Avatar" />
      </div>
      
      <img class="logo" src="/images/logo11.png" alt="Logo" />

      <nav>
        <ul class="desktop-links">
          <li><a href="/fortnite-landingpage">Home</a></li>
          <li><a href="/avatar-kiezen">Avatar kiezen</a></li>
          <li><a href="/favoriete-personages">Favoriete personages</a></li>
          <li>
            <a href="/blacklisted-personages">Blacklisted personages</a>
          </li>
        </ul>
        <button class="desktop-logout"><a href="/projects-landingpage">Uitloggen</a></button>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-btn">
          <div class="btn-line"></div>
          <div class="btn-line"></div>
          <div class="btn-line"></div>
        </label>
        <nav class="menu">
          <ul class="menu-items">
            <li><a href="/fortnite-landingpage">Home</a></li>
            <li><a href="/avatar-kiezen">Avatar kiezen</a></li>
            <li><a href="/favoriete-personages">Favoriete personages</a></li>
            <li>
              <a href="/blacklisted-personages">Blacklisted personages</a>
            </li>
            <li><a href="/projects-landingpage">Uitloggen</a></li>
          </ul>
        </nav>
      </nav>
      

      <div class="avatar">
        <img src="/images/avatar.avif" alt="Avatar" />
      </div>
    </header>