<%- include("partials/header") %>
<section class="avatar-kiezen">
    <h2 class="page-title">Avatar kiezen</h2>
    <p class="pagina-uitleg">Klik een personage om meer details te zien. Je kunt die dan instellen als avatar, toevoegen aan je favorieten of blacklisten.</p>
    <article class="personages">
      <a href="/detailed-avatar-page" class="personage">
        <h4>Dracula</h4>
        <img src="/images/dracula.webp" class="personage-foto" />
      </a>
      <a href="//detailed-avatar-page" class="personage">
        <h4>Banano</h4>
        <img src="/images/banano.jpg" class="personage-foto" />
      </a>
      <a href="/detailed-avatar-page" class="personage">
        <h4>Snowkill</h4>
        <img src="/images/snowkill.jpg" class="personage-foto" />
      </a>
      <a href="/detailed-avatar-page" class="personage">
        <h4>Skizz</h4>
        <img src="/images/skizz.jpg" class="personage-foto" />
      </a>
      <a href="/detailed-avatar-page" class="personage">
        <h4>Shadow</h4>
        <img src="/images/shadow.jpg" class="personage-foto" />
      </a>
      <a href="/detailed-avatar-page" class="personage">
        <h4>Dracula</h4>
        <img src="/images/dracula.webp" class="personage-foto" />
      </a>
    </article>
  </section>
  <%- include("partials/footer") %>