<%- include("partials/header") %>
<section class="detailed-personage">
    <h2 class="page-title">Dracula</h2>
    <article class="personage-detail-container">
      <img src="/images/dracula.webp"/>
      <div class="tekst-en-buttons-container">
        <div>
          <h3>Achtergrondverhaal</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati omnis
            at veritatis debitis rerum quod voluptatum sequi illo modi nesciunt,
            amet assumenda sunt odit vitae. Eveniet vero perferendis ad unde! Sequi,
            ex nesciunt corrupti incidunt neque porro error, mollitia id nobis
            fugiat quaerat, repellendus deserunt doloribus repudiandae fuga.
            Assumenda et fuga consequuntur aliquam quos quas dolores a inventore
            doloribus! Cumque! Ullam odio voluptatibus porro iste fuga dolore
            accusamus ipsum suscipit laborum ratione perferendis, iure sed
            reiciendis quos. Quasi, sint laudantium aut veritatis hic impedit
            consequuntur, beatae officiis asperiores, quis quo!
          </p>
        </div>
        <div class="buttons-container">
          <button>Avatar instellen</button>
          <button>Favoriet toevoegen</button>
          <button>Blacklisten</button>
          <div>
            <p>Geef hier je blacklist reden in:</p>
            <input class="blacklist-reden" type="text">
          </div>
        </div>
      </div>
    </article>
  </section>
<%- include("partials/footer") %>