<%- include("partials/header") %>
<section class="detailedfavo-personage">
    <h2 class="page-title">Dracula</h2>
    <article class="favopersonage-detail-container">
      <div class="foto-en-tekst">
        <img src="/images/dracula.webp"/>
        <h3>Achtergrondverhaal</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          omnis at veritatis debitis rerum quod voluptatum sequi illo modi
          nesciunt, amet assumenda sunt odit vitae. Eveniet vero perferendis
          ad unde! Sequi, ex nesciunt corrupti incidunt neque porro error,
          mollitia id nobis fugiat quaerat, repellendus deserunt doloribus
          repudiandae fuga. Assumenda et fuga consequuntur aliquam quos quas
          dolores a inventore doloribus!
        </p>
        <div class="desktop-notities">
          <h5>Notities</h5>
          <textarea name="" id="" cols="50" rows="10"></textarea>
        </div>
      </div>
      <div class="items-en-stats">
        
        <div class="items">
          <h4>Skins</h4>
          <div class="skins">
            <img src="/images/skin1.webp" alt="Skin 1">
            <img src="/images/skin2.webp" alt="Skin 2">
            <img src="/images/skin3.webp" alt="Skin 3">
            <img src="/images/skin4.webp" alt="Skin 4">
          </div>
          <h4>Wapens</h4>
          <div class="wapens">
            <img src="/images/weapon1.png" alt="Wapen 1">
            <img src="/images/weapon2.png" alt="Wapen 2">
            <img src="/images/weapon3.webp" alt="Wapen 3">
          </div>
          <h4>Emotes</h4>
          <div class="emotes">
            <img src="/images/emote1.jpg" alt="Emote 1">
            <img src="/images/emote2.jpg" alt="Emote 2">
            <img src="/images/emote3.png" alt="Emote 3">
            <img src="/images/emote4.webp" alt="Emote 4">
            <img src="/images/emote5.webp" alt="Emote 5">
          </div>
          <h4>Gebruikte items</h4>
          <div class="gebruikte-items">
            <img src="/images/gebruikte-wapen.jpg" alt="Gebruikte wapen">
            <img src="/images/vraagteken.png" alt="?">
          </div>
        </div>
        <div class="mobiel-notities">
          <h4>Notities</h5>
          <textarea name="" id="" cols="50" rows="10"></textarea>
        </div>
        
        <div class="battles-en-stats">
          <h4>Gevechtsstatistieken</h4>
          <div class="stats">
            <table>
              <thead>
                <tr>
                  <th>Winst</th>
                  <th>Verlies</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>13</td>
                  <td>7</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h4>Vechten</h4>
          <div class="fight">
            <button class="win">Winnen</button>
            <button class="lose">Verliezen</button>
          </div>
        </div>
      </div>
    </article>
    
    
  </section>
<%- include("partials/footer") %>