<%- include("partials/header") %>
<section class="favoriete-personages">
    <h2 class="page-title">Favoriete personages</h2>
    <p class="pagina-uitleg">Hier zijn al je favoriete personages. Kies er één om items, skins, wapens te veranderen en om te vechten.</p>
    <article class="personages">
      <a href="/detailed-favo-page" class="personage">
        <h4>Dracula</h4>
        <img src="/images/dracula.webp" class="personage-foto" />
      </a>
    </article>
  </section>
<%- include("partials/footer") %>