<%- include("partials/header") %>

<section class="fortnite-landingpage">
    <h2 class="page-title">Home</h2>
    <p class="pagina-uitleg" style="text-align: center;">Welkom! Maak een keuze:</p>
    <button>
      <a href="/avatar-kiezen">Avatar kiezen</a>
    </button>
    <div>
      <button>
        <a href="/favoriete-personages">Favoriete personages</a>
      </button>
      <button>
        <a href="/blacklisted-personages">Blacklisted personages</a>
      </button>
    </div>
  </section>

<%- include("partials/footer") %>