<%- include("partials/guest-header") %>
<div class="signup-container">
    <h2 class="page-title">Registreren</h2>
    <form>
      <label for="new-username">Gebruikersnaam:</label>
      <input type="text" id="new-username" name="new-username" required />

      <label for="new-email">E-mail:</label>
      <input type="email" id="new-email" name="new-email" required />

      <label for="new-password">Wachtwoord:</label>
      <input type="password" id="new-password" name="new-password" required />

      <label for="confirm-password">Wachtwoord bevestigen:</label>
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        required
      />

      <p>Heb je al een account? <a href="/log-in">Log-in</a></p>

      <button class="register-button" type="submit">Registreren</button>
    </form>
  </div>
<%- include("partials/footer") %>