@font-face {
  font-family: "fortniteFont";
  src: url(/fonts/fortnite.otf) format("opentype");
}

h2,
h3,
h4 {
  font-family: "fortniteFont";
  letter-spacing: 2px;
  font-size: xx-large;
}
h5 {
  font-size: x-large;
  margin-bottom: 0;
}

.projecten-title {
  color: black;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/images/fortnite-background.png");
  background-attachment: fixed;
  background-size: cover;
  background-color: #1f1f2e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d17;
  padding: 10px 20px;
  max-height: 10vh;
}

.logo {
  max-width: 180px; 
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: 20rem;
  margin-top: 1rem;
}

nav ul li {
  display: flex;
  margin-right: 20px;
  padding: 3px 10px;
  border-radius: 2rem;
  align-items: center;
  text-align: center;
}

nav ul li a {
  color: white;
}

nav ul li:hover,
nav ul li:hover a {
  color: grey;
  background-color: white;
}

nav button a{
  color: white;
}

nav button {
  height: 2rem;
  width: 10rem;
  margin-top: 0.7rem;
  font-weight: 700;
  margin-left: 13rem;
  margin-right: 2rem;
  padding: 0.5rem 0 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.btn-line {
  width: 30px;
  height: 4px;
  background-color: grey;
  margin: 3px 0;
}

.menu {
  display: none;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin-right: 20px;
}

.menu-items li a {
  color: #333;
  text-decoration: none;
}


.pagina-uitleg {
  text-align: justify;
  font-size: x-large;
  width: 40%;
}

.fortnite-landingpage a {
  font-size: x-large;
}


.projects-container {
  display: grid;
  grid-template-areas:
    "fortnite fifa MTG"
    "pokemon LOTR legomasters";
  justify-content: center;
  margin-top: 5vh;
}

.project {
  display: flex;
  background-color: rgb(159, 133, 2);
  background-image: linear-gradient(to top, black, grey);
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  transition: transform 0.2s;
  border-radius: 10px;
  width: 25vw;
  height: 30vh;
}

.project:hover {
  transform: scale(1.5);
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}
h2 {
  text-align: center;
}
h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Dit is voor de registratie */
p a {
  color: #bb86fc;
  transition: color 0.3s ease;
}

p a:hover {
  color: #ff4081;
}

.fortnite-landingpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 67.5vh;
  margin-top: 50px;
}

.fortnite-landingpage button {
  margin: 0 10px;
  padding: 15px 20px;
  width: 10rem;
  height: 5rem;
  font-weight: 600;
  font-size: 18px;
  margin: 30px;
  cursor: pointer;
}

.fortnite-landingpage button a {
  color: white;
}

footer {
  background-color: #1a1a26;
  padding: 10px;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 14vh;
}

footer p {
  margin: 0;
}

.avatar-kiezen,
.favoriete-personages,
.blacklisted-personages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.personage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
  width: 20vw;
  color: white;
}

.personage h4 {
  align-self: center;
  margin-bottom: 50px;
}

.avatar img {
  display: block;
  width: 5vw;
  border-radius: 50%;
}

.mobile-avatar img {
  display: block;
  width: 13vw;
  border-radius: 50%;
}

.mobile-avatar {
  display: none;
}

.projects-landingpage {
  display: flex;
  align-items: center;
  background-color: lightgrey;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  max-height: 100%;
  background: none;
}

.projects-landingpage h1 {
  font-size: 40px;
  font-weight: 700;
  color: black;
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.fill {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fill {
  margin: 0 auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5.09rem;
}
form {
  background-color: #1f1f2e;
  padding: 20px;
  border: 1px solid #64ffda;
  border-radius: 8px;
  color: #ffffff;
  width: 25%;
  margin-top: 20px;
  margin-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}
.page-title {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  font-variation-settings: "MORF" 15, "SHLN" 49.8;
  align-self: center;
  margin: 50px;
}
input {
  width: 98%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #64ffda;
  border-radius: 4px;
  background-color: white;
  color: black;
}

button {
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(to top, black, grey);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: "fortniteFont";
  font-size: x-large;
  letter-spacing: 2px;
}

button:hover {
  transform: scale(1.2);
}



.errorpage {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: black;
}

.errorpage h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  margin: 0.5rem;
}

.errorpage h2,
.errorpage p {
  margin: 0.5rem;
}

.errorpage button {
  height: 3rem;
  width: 10rem;
  margin: 1rem;
}

.errorpage button a {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.blacklisted-personages a {
  transition: transform 0.1s;
  margin-left: 30px;
}

.blacklisted-personages a:hover {
  transform: scale(1.5);
}

.blacklist-buttons {
  display: grid;
  column-gap: 20px;
  grid-template-areas: "aanpassen verwijderen";
  margin-top: 20px;
}

/* detailed page (moet nog aangepast worden)*/

.detailed-personage {
  display: flex;
  flex-direction: column;
}

.personage-detail-container {
  display: grid;
  grid-template-areas: "foto .";
  gap: 30px;
  margin: 100px;
  margin-top: 60px;
  margin-bottom: 0;
}

.tekst-en-buttons-container {
  display: grid;
  grid-template-rows: auto auto;
}

.tekst-en-buttons-container h3{
  margin-bottom: 10px;
}

.detailed-personage img {
  display: block;
  max-width: 30vw;
}

.buttons-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 50%
}

.buttons-container button {
  width: 80%;
  height: 70%;
}

.blacklist-reden {
  margin-top: 10px;
  height: 40px;
}

.personage-foto {
  width: 100%;
  transition: transform 0.2s;
}

.personage-foto:hover {
  transform: scale(1.15);
  box-shadow: 0px 0px 20px white;
}

.blacklisted-personages .personage-foto:hover{
  transform: none;
  box-shadow: none;
}

.detailed-personage h4 {
  margin-top: 0;
}

.detailed-personage p {
  max-width: 100%;
}

.detailed-personage button {
  margin-top: 10px;
}

.items {
  grid-area: "items";
}

.items img, .gebruikte-items button {
  width: 75px;
  height: 75px;
  margin: 3px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.items img:hover {
  transform: scale(1.2);
}

.detailedfavo-personage {
  display: block;
  margin: 150px;
  margin-top: 0px;
}

.battles-en-stats {
  margin-top: 5rem;
}
.skins,
.wapens,
.emotes {
  margin-bottom: 2rem;
}

.stats {
  margin-bottom: 3rem;
}

.fight {
  display: grid;
  grid-template-columns: auto auto;
  height: 80px;
  gap: 20px;
}

.fight button {
  border-radius: 0px;
  background-image: none;
  transition: transform 0.1s;
  font-family: "fortniteFont";
  font-size: xx-large;
}

.fight button:hover {
  transform: scale(1.1);
}

.win {
  background-color: green;
}

.lose {
  background-color: red;
}

.favopersonage-detail-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: auto auto;
}

.foto-en-tekst {
  max-width: 30vw;
}

.desktop-notities h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mobiel-notities {
  display: none;
}

.detailedfavo-personage img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  width: 300px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.reden {
  margin-top: 25px;
}

.signup-container,
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-button,
.login-button {
  margin-top: 15px;
}

.register-button:hover,
.login-button:hover {
  transform: none;
  box-shadow: 0px 0px 10px white;
}

.vuilbakje {
  max-width: 50px;
}

p {
  line-height: 1.5rem;
}

@media screen and (max-width: 600px) {
  .desktop-links, .desktop-logout, .avatar{
    display: none;
  }

  .mobile-avatar {
    display: block;
    position: absolute;
  }

  .logo {
    margin-left: 30%;
  }

  .menu-btn {
    display: flex;
  }

  .menu-toggle:checked ~ .menu {
    display: block;
    background-color: rgb(192, 192, 192);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  .menu-items {
    flex-direction: column;
    align-items: center;
  }

  .menu-items li {
    margin: 10px 0;
    font-size: larger;
    display: flex;
    padding: auto;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
  }
  .pagina-uitleg {
    width: 80%;
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  .project {
    width: 80vw;
  }
  .project:hover {
    transform: none;
  }
  button:hover {
    transform: none;
  }
  form {
    width: 80vw;
    margin-bottom: 5vh;
    padding: auto;
  }
  .fortnite-landingpage div {
    display: flex;
    flex-direction: column;
  }
  .fortnite-landingpage button {
    width: 60vw;
    height: 100px;
    margin-top: 10px;
    padding: 30px;
  }
  .personage {
    width: 60vw;
    align-items: center;
  }
  .personage h4 {
    margin: 3rem 0 1.5rem;
  }
  .personage-foto:hover {
    transform: none;
    box-shadow: none;
  }
  .blacklisted-personages a:hover {
    transform: none;
  }
  .vuilbakje {
    max-width: 70px;
  }
  .personage-detail-container {
    grid-template-areas: ".";
    margin: 60px;
  }
  .personage-detail-container img {
    max-width: 100%;
  }

  .foto-en-tekst p {
    margin-bottom: 20px;
  }
  .items-en-stats h4 {
    margin-bottom: 20px;
  }
  .mobiel-notities {
    margin-top: 20px;
  }
  .buttons-container {
    grid-template-columns: auto;
    gap: 5px;
    width: 100%;
  }
  .buttons-container button {
    height: 50px;
    width: 100%;
  }
  .buttons-container input {
    margin-top: 20px;
    height: 100px;
    width: 95.5%;
  }

  .buttons-container p {
    margin-top: 20px;
  }
  .favopersonage-detail-container {
    grid-template-columns: auto;
    justify-content: center;
  }

  .detailedfavo-personage .page-title{
    margin: auto;
    margin-top: 40px;

  }
  .desktop-notities {
    display: none;
  }
  .mobiel-notities {
    display: block;
  }
  .stats {
    display: flex;
    justify-content: center;
  }
  .foto-en-tekst {
    max-width: 100%;
  }
}
