body {
  background-color: #1f1f2e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d17;
  padding: 10px 20px;
}

.logo-img {
  max-width: 150px; /* Aangepaste grootte voor het logo */
}

.logo {
  margin-left: 100px; /* Zodat de fortnite logo mooi in het midden staat*/
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #bb86fc;
}

nav ul button {
  height: 2rem;
  width: 5rem;
  margin-top: -0.5rem;
  background-color: cornflowerblue;
  font-weight: 700;
}

.projects-container {
  display: grid;
  grid-template-areas:
    'fortnite fifa MTG'
    'pokemon LOTR legomasters';
  justify-content: center;
  margin-top: 5vh;
}

.project {
  display: flex;
  background-color: rgb(159, 133, 2);
  background-image: linear-gradient(to top, black , grey);
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  transition: transform .2s;
  border-radius: 10px;
  width: 25vw;
  height: 30vh;
}

.project:hover {
  transform: scale(1.5);
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}
h2{
  text-align: center;
}
h3 {
  margin-top: 10px;
}

/* Dit is voor de registratie */
p a {
  color: #bb86fc;
  transition: color 0.3s ease;
}

p a:hover {
  color: #ff4081;
}


.fortnite-landingpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 67.5vh;
}

.fortnite-landingpage button {
  margin: 0 10px; /* voeg wat ruimte tussen de knoppen toe */
  padding: 15px 20px; /* pas deze waarden aan voor gewenste grootte */
  width: 10rem;
  height: 5rem;
  background-color: cornflowerblue;
  font-weight: 600;
  font-size: 18px;
}

.fortnite-landingpage button:nth-child(2) {
  margin-bottom: 12rem; /* pas deze waarde aan voor gewenste afstand onder de linkse knop */
}

footer {
  background-color: #1a1a26;
  padding: 10px;
  text-align: center;
  margin-bottom: 0%;
  margin-top: auto;
}

footer p {
  margin: 0;
}

.avatar-kiezen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.personage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

.personage h4 {
  align-self: center;
}

#avatar-kiezen-titel {
  display: block;
  align-self: center;
}

.avatar img {
  display: block;
  width: 10vw;
}

.projects-landingpage {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgb(0, 0, 136) , rgb(185, 67, 194));
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  max-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.fill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
form {
  background-color: #1f1f2e;
  padding: 20px;
  border: 1px solid #64ffda;
  border-radius: 8px;
  color: #ffffff;
  width: 80%;
  margin-top: 20px;
  margin-left: 120px;
}

label {
  display: block;
  margin-bottom: 10px;
}
.forum-title{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 49.8;
}
input {
  width: 98%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #64ffda;
  border-radius: 4px;
  background-color: #1f1f2e;
  color: #ffffff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: cornflowerblue;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0d0d17;
}